
<div class="product-header">

</div>


<section class="container-product-list">
  <div class="product-item">
    <div class="img-wrapper">
      <img src="assets/images/product-list/123.webp" alt="">
    </div>
    <div class="product-title">
      <h1>Visual Quality Inspection for Case Packing</h1>
      <p>Whether it’s bottles, cans, bags or boxes, finished goods need to be packaged into cases – either for
        transportation to a retail location, or for purchase by a consumer. Neurala’s vision AI software for
        case packing reduces downtime from improperly packed cases, increases inspection rates, and provides
        product mix flexibility.</p>
      <a href="" class="btn">Download the Case Packing Inspection Use Case</a>
    </div>
  </div>
  <div class="product-item">
    <div class="img-wrapper">
      <img src="assets/images/product-list/123.webp" alt="">
    </div>
    <div class="product-title">
      <h1>Visual Quality Inspection for Case Packing</h1>
      <p>Whether it’s bottles, cans, bags or boxes, finished goods need to be packaged into cases – either for
        transportation to a retail location, or for purchase by a consumer. Neurala’s vision AI software for
        case packing reduces downtime from improperly packed cases, increases inspection rates, and provides
        product mix flexibility.</p>
      <a href="" class="btn">Download the Case Packing Inspection Use Case</a>
    </div>
  </div>
  <div class="product-item">
    <div class="img-wrapper">
      <img src="assets/images/product-list/123.webp" alt="">
    </div>
    <div class="product-title">
      <h1>Visual Quality Inspection for Case Packing</h1>
      <p>Whether it’s bottles, cans, bags or boxes, finished goods need to be packaged into cases – either for
        transportation to a retail location, or for purchase by a consumer. Neurala’s vision AI software for
        case packing reduces downtime from improperly packed cases, increases inspection rates, and provides
        product mix flexibility.</p>
      <a href="" class="btn">Download the Case Packing Inspection Use Case</a>
    </div>
  </div>
</section>
