<footer class="footer">
  <div class="container">
    <nav class="nav_footer">
      <ul>
        <li><a href="#">offering</a></li>
        <li><a href="#">clients</a></li>
        <li><a href="#">partners</a></li>
        <li><a href="#">company</a></li>
        <li><a href="#">resources</a></li>
        <li><a href="#">blog</a></li>
        <li><a href="#">newsletter</a></li>
      </ul>
    </nav>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>

    <p>Copyright 2020 - 2021.AI CVR. 3783 6303. All Rights Reserved. Privacy Policy</p>
  </div>

</footer>
