@font-face{

    font-family: 'fontello';

    src: url('../font/fontello.eot');

    src: url('../font/fontello.eot?iefix') format('eot'),

    url('../font/fontello.woff') format('woff'),

    url('../font/fontello.ttf') format('truetype'),

    url('../font/fontello.svg#webfont') format('svg');

    font-weight: normal;

    font-style: normal;

}